@tailwind base;
@tailwind utilities;
@tailwind components;

.blog-heading {
    color: #333; /* Default color */
}

@media (prefers-color-scheme: dark) {
    .blog-heading {
        color: #ccc; /* Color for dark mode */
    }
}

@layer components {

    a {
        @apply text-stone-600 dark:text-stone-100 dark:hover:text-stone-100;
    }

    .badge {
        @apply bg-black text-white rounded px-3 py-2 mt-2;
    }

    .mobile-menu-item {
        @apply block text-sm text-gray-500 hover:text-gray-900 px-4 py-2 lg:py-1 mx-auto uppercase;
        @apply dark:text-slate-200 dark:hover:text-white;
    }

    .menu-item {
        @apply text-sm text-gray-500 hover:text-gray-900 px-3 py-2 lg:py-1 mx-auto uppercase;
        @apply dark:text-slate-200 dark:hover:text-white;
    }

    .dark-social-btn {
        @apply dark:bg-slate-600 dark:text-white dark:shadow-slate-600 dark:shadow-sm;
        @apply hover:bg-green-600 hover:text-white transition-colors duration-300;
    }

    #menu ~ #menu-dropdown {
        @apply transform;
        @apply ease-in duration-75 opacity-0 scale-0;
    }

    #menu ~ #menu-dropdown:focus-within, #menu:focus ~ #menu-dropdown {
        @apply ease-out duration-100 opacity-100 scale-100;
    }

    .dark .dark\:block {
        display: block !important;
    }

    strong {
        @apply dark:text-slate-200;
    }

    strong.dark {
        @apply !text-slate-200;
    }
}
/* Experience Section Styling */
.experience-section {
    padding: 20px;
    background-color: #f9fafb;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    position: relative;
  }
  
  .experience-section h3 {
    font-size: 1.25rem;
    font-weight: bold;
    color: #1f2937;
  }
  
  .experience-section p {
    color: #4b5563;
  }
  
  .experience-section ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #4b5563;
  }
  
  .experience-section .tech-stack {
    font-size: 0.875rem;
    color: #9ca3af;
    margin-top: 10px;
  }
  
  .timeline-dot {
    position: absolute;
    left: -20px;
    top: 10px;
    width: 10px;
    height: 10px;
    background-color: #2563eb;
    border-radius: 50%;
  }
  
  .timeline-line {
    position: absolute;
    left: -15px;
    top: 30px;
    bottom: -30px;
    width: 2px;
    background-color: #2563eb;
  }
  
  .icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  